.navbar-nav .nav-item {
    margin-right: 75px;
}

.navbar-brand {
    margin-right: 180px;
    color: rgb(0, 0, 0);
    font-family: 'Sedgwick Ave Display';
}

.navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important;
    font-family: 'Lobster', cursive;
}

.navbar-nav .nav-link:hover {
    color: rgb(152, 161, 81) !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(19, 156, 131);
    border-color: black;
}

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}