.heart {
    width: 100px;
    height: 100px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
  }
  .heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
  
  body {
    background: #000000;
  }
  
  .placement {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }